.sreen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  align-items: center;
  color: black;
}

.sreen-header__title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
}

.sreen-header__icons span {
  margin-left: 25px;
}

.sreen-header__icons {
  position: relative;
}
.sreen-header__icons-notification {
  background-color: tomato;
  width: 10px;
  height: 10px;
  border-radius: 15px;
  position: absolute;
  right: -10px;
  top: -10px;
}

@keyframes rotatecog {
  from {
    transform: none;
  }
  to {
    transform: rotatez(360deg);
  }
}

.sreen-header__icons .fa-cog:hover {
  animation: rotatecog 1s linear infinite;
}
